@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-transform: capitalize;
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.app {
  /* padding: 0 20px; */
  width: 100%;
  max-width: 1200px;
  /* border: 1px solid black; */
  display: block;
  margin: auto;

  position: relative;
}
.container {
  height: 100%;
  align-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #192225;
  min-height: 5rem;
  max-height: 10rem;
  padding: 0 5%;
}

.header .logo a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 19px;
  text-transform: uppercase;
  /* identical to box height */

  color: #26a0aa;
}

.header .navbar {
  height: 100%;
}

.header .navbar .navbar-item {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 5rem;
  text-transform: uppercase;
  /* identical to box height */
  display: inline-block;
  height: 100%;

  color: #26a0aa;
}

.header .navbar .navbar-item:hover,
.drop-down .drop-item:hover {
  background-color: #26a0aa;
  color: #192225 !important;
}

.navbar-item {
  padding: 0 1rem;
  position: relative;
}

.drop-down {
  display: none;
  border-radius: 5px;
  background: #192225;
  color: #26a0aa;
  width: 20rem;
  overflow: hidden;
}

.drop-down .drop-item {
  display: block;
  width: 100%;
  padding: 0 1rem;
}

.btn-down {
  font-size: 2rem;
  vertical-align: sub;
  line-height: 5rem;
  margin: auto;
}

.navbar-item.has-dropdown:hover .drop-down {
  display: block;
  position: absolute;
  top: 101%;
  right: 0;
  z-index: 2;
}

/* .btn-down:hover + .drop-down {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
} */

.body {
  display: block;
  margin: auto;
  width: 100%;
  min-height: 95vh;
}

.body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/bg.jpg");
  width: 100%;
  min-height: 100%;
  padding-bottom: 2rem;
  opacity: 0.15;
  z-index: -1;
}

.row1 {
  padding: 7rem 2rem;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.row1 .box {
  background: #f4f9f3;
  mix-blend-mode: overlay;
  opacity: 0.8;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 1rem 5rem;
  flex: 1 1 20rem;
}

.row1 .box .title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 19px;
  padding-bottom: 3rem;
}

.row1 .box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  align-items: stretch;
}

.row1 .box .container .room,
.row1 .box .container .device {
  background: #fafaf9;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  flex: 1 1 10rem;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row1 .box .container .room:hover,
.row1 .box .container .device:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.row1 .box .container .room svg {
  scale: 1.5;
}

.row1 .box .container .room .room-name {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.row1 .box .container .room .room-device-quan {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}

.row1 .box .container .room {
  background: #fafaf9;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  flex: 1 10rem;
  cursor: pointer;
}

.row1 .box .container .room svg {
  width: 5rem;
  height: 3rem;
}

.row1 .box .container .device {
  background: #fafaf9;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2rem 1rem 1rem;
  text-align: center;
  flex: 1 10rem;
  cursor: pointer;
}

.row1 .box .container .device svg {
  width: 5rem;
  height: 3rem;
}

.row1 .box .container .device .device-name {
  font-weight: 300;
  font-size: 2rem;
  line-height: 16px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.row2 {
  margin: 1rem 2rem 0;
  background: #f4f9f3;
  mix-blend-mode: overlay;
  opacity: 0.8;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  flex: 1 1;
  padding-bottom: 3rem;
}

.row2 .title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 19px;
  padding-bottom: 3rem;
}

.row2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  flex-wrap: wrap;
}

.row2 .container .box {
  /* Rectangle 14 */
  flex: 1 1 20rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  background: #e4e4e3;
  height: 20rem;
}

.row2 .container .box .title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;

  color: #000000;
}

.dashboard {
  background: #232e42;
  color: white;
  padding: 0 5%;
  min-height: 95vh;
}

.dashboard .title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 35px;
  text-shadow: 3px 5px 7px rgba(0, 0, 0, 0.59);
  padding: 5rem 0;
}

.dashboard .graphic {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard .graphic .home-img {
  flex: 1 1 40rem;
}

.dashboard .graphic img {
  filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.69));
  object-fit: cover;
  width: 100%;
}

.dashboard .graphic .report-graph {
  flex: 1 1 40rem;
  background: #c4c4c4;
  filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.69));
}

.dashboard .graphic .report-graph .report-title {
  font-weight: 200;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.dashboard .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.dashboard .container .box {
  background: #2f3b51;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  text-align: center;
  flex: 1 1 30rem;
}

.dashboard .container .box .box-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */

  color: #a7b3bf;
}

.dashboard .container .box .number {
  font-style: normal;
  font-weight: 200;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  color: #ffffff;
}

.room-name {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;
  padding: 2rem 0;
  color: #000000;
}

.room-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10rem;
}

.room-status .status {
  flex: 1 1 35rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: #f4f9f3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2rem 0;
  color: #000000;
}

.room-status .status div {
  text-align: center;
}

.room-status .status .status-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 2rem;
}

.room-status .status .status-digit {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 8rem;

  background: #f4f9f3;
  /* mix-blend-mode: overlay; */
  opacity: 0.8;
  width: 15rem;
  height: 8rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.device-category {
  background: #f4f9f3;
  opacity: 0.8;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 2rem 0;
  padding: 2rem 3.5rem;
}
.device-category .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.device-category h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  padding: 0 0 3rem;
  line-height: 2rem;
}

.device-category .container .box {
  background: #f4f9f3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex: 1 1 25rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.device-category .container .box .light-switch {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
}

.device-category .container .box .light-switch .light-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  flex: 1 1 4rem;
}

.room {
  padding: 0 5%;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .app {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* card  */

.card {
  background: #f4f9f3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0.3 1 20rem;
  gap: 2.5rem;
  padding: 1.5rem 0;
}

.card .card-img {
  flex: 0.4 1 5rem;
}

.card .card-img img {
  width: 70%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.card .card-switch {
  flex: 0.7 1 6rem;
}

.card .card-switch h3 {
  /* Light 1 */
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height */
}

.card .card-switch .power-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3rem;
}

.switch-btn {
  /* border: 1px solid black; */
  display: inline-block;
}
.light-icon {
  display: block;
  margin: auto;
  font-size: 8rem;
}

.light-icon.active {
  color: #3ace21;
  display: block;
  margin: auto;
  font-size: 8rem;
}
